Repository krharsh17/barview-android, pull requests merged in 2020-03, with the labels that each got.

#19 Constants branch
  .idea/.name
  build.gradle
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/java/in/krharsh17/barview/BarView.java
  library/src/main/java/in/krharsh17/barview/Constants.java
Labels: easy, gssoc20

#21 Deleted ViewUtils class
  .idea/misc.xml
  library/src/main/java/in/krharsh17/barview/ViewUtils.java
Labels: beginner, gssoc20

#29 App Crash Fixed
  .idea/gradle.xml
  library/src/main/java/in/krharsh17/barview/Constants.java
Labels: bug, easy, gssoc20

#18 Removed all LOG lines
  .idea/gradle.xml
  library/src/main/java/in/krharsh17/barview/Bar.java
  library/src/main/java/in/krharsh17/barview/BarView.java
Labels: beginner, good first issue, gssoc20, maintenance

#39 Replace dummy values
  .idea/misc.xml
  README.md
  app/src/main/java/in/krharsh17/barview_sample/MainActivity.java
  build.gradle
Labels: beginner, good first issue, gssoc20, maintenance, sample-update

#44 Fixed #25 : added getters and setters
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/java/in/krharsh17/barview/BarView.java
  library/src/main/java/in/krharsh17/barview/Constants.java
Labels: library-update

#43 Fixed #12 : Fix to Screen_Width so that BarView doesn't run out of the screen
  app/src/main/java/in/krharsh17/barview_sample/MainActivity.java
  library/src/main/java/in/krharsh17/barview/BarGroup.java
Labels: library-update, sample-update

#32 Added Click Listeners
  .idea/gradle.xml
  .idea/misc.xml
  app/src/main/java/in/krharsh17/barview_sample/MainActivity.java
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/java/in/krharsh17/barview/BarView.java
Labels: enhancement, gssoc20, library-update, medium, sample-update

#35 Round Bars Created by creating a new Method.
  app/src/main/java/in/krharsh17/barview_sample/MainActivity.java
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/java/in/krharsh17/barview/BarView.java
  library/src/main/java/in/krharsh17/barview/Constants.java
Labels: easy, enhancement, gssoc20, library-update, sample-update

#48 added setBackground attribute in xml
  library/src/androidTest/java/in/krharsh17/barview/ExampleInstrumentedTest.java
  library/src/main/java/in/krharsh17/barview/BarView.java
  library/src/main/res/values/attrs.xml
Labels: easy, enhancement, gssoc20, library-update

#45 Issue#4
  library/src/main/assets/fonts/josefin_sans.ttf
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/java/in/krharsh17/barview/BarView.java
  library/src/main/res/values/attrs.xml
Labels: enhancement, gssoc20, library-update, medium

#46 intro expand animation integrated into the library
  .idea/gradle.xml
  app/src/main/res/layout/activity_main.xml
  library/src/main/java/in/krharsh17/barview/Bar.java
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/java/in/krharsh17/barview/BarView.java
  library/src/main/java/in/krharsh17/barview/Constants.java
  library/src/main/res/values/attrs.xml
Labels: enhancement, gssoc20, hard, library-update, sample-update

#53 attrs.xml file modified to give sizes and fonts in dp and sp
  library/src/main/res/values/attrs.xml
Labels: easy, enhancement, gssoc20, library-update

#59 Migrate to Travis
  .travis.yml
Labels: beginner, gssoc20

#57 Debugged.
  library/src/main/java/in/krharsh17/barview/BarView.java
Labels: bug, easy, gssoc20, library-update

#62 Type face bug
  library/src/main/java/in/krharsh17/barview/BarGroup.java
Labels: bug, easy, gssoc20, library-update, sample-update

#67 Elevation completed with addition of coloured shadow and corner radius
  .idea/gradle.xml
  app/src/main/java/in/krharsh17/barview_sample/MainActivity.java
  library/src/main/java/in/krharsh17/barview/Bar.java
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/java/in/krharsh17/barview/BarModel.java
  library/src/main/java/in/krharsh17/barview/BarView.java
Labels: library-update, sample-update

#69 Added CodeOfConduct.md
  CodeOfConduct.md
Labels: beginner, documentation, gssoc20

#60 Added Feature to Automatically Build Testing Apks
  updateApk.sh
Labels: easy, enhancement, gssoc20

#77 Replaced AppVeyor CI badge with Travis CI badge in README
  README.md
Labels: beginner, good first issue, gssoc20

#65 Fixed : #24 added Javadocs for classes and functions of the library module
  library/src/main/java/in/krharsh17/barview/Bar.java
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/java/in/krharsh17/barview/BarModel.java
  library/src/main/java/in/krharsh17/barview/BarView.java
  library/src/main/java/in/krharsh17/barview/Constants.java
Labels: beginner, good first issue, gssoc20, library-update, sample-update
