Repository krharsh17/barview-android, pull requests merged in 2020-05, with the labels that each got.

#93 Updated Readme with Requirements & Resources
  README.md
Labels: documentation, easy, good first issue

#94 Toast message removed
  app/src/main/java/in/krharsh17/barview_sample/MainActivity.java
Labels: bug, easy, gssoc20, sample-update

#86 Value tooltips radius
  .idea/gradle.xml
  .idea/misc.xml
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/java/in/krharsh17/barview/BarView.java
  library/src/main/res/values/attrs.xml
Labels: enhancement, gssoc20, hard, library-update

#20 Migrate to Kotlin
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  app/build.gradle
  app/src/main/java/in/krharsh17/barview_sample/MainActivity.java
  app/src/main/java/in/krharsh17/barview_sample/MainActivity.kt
  build.gradle
  library/build.gradle
  library/src/androidTest/java/in/krharsh17/barview/ExampleInstrumentedTest.java
  library/src/androidTest/java/in/krharsh17/barview/ExampleInstrumentedTest.kt
  library/src/main/java/in/krharsh17/barview/Bar.java
  library/src/main/java/in/krharsh17/barview/Bar.kt
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/java/in/krharsh17/barview/BarGroup.kt
  library/src/main/java/in/krharsh17/barview/BarModel.java
  library/src/main/java/in/krharsh17/barview/BarModel.kt
  library/src/main/java/in/krharsh17/barview/BarView.java
  library/src/main/java/in/krharsh17/barview/BarView.kt
  library/src/main/java/in/krharsh17/barview/Constants.java
  library/src/main/java/in/krharsh17/barview/Constants.kt
  library/src/test/java/in/krharsh17/barview/ExampleUnitTest.java
  library/src/test/java/in/krharsh17/barview/ExampleUnitTest.kt
Labels: gssoc20, library-update, maintenance, medium, postponed, sample-update
