Repository krharsh17/barview-android, pull requests merged in 2020-04, with the labels that each got.

#83 Allow the use of local colors of app in color.xml folder of app.
  library/src/main/res/values/attrs.xml
Labels: bug, easy, gssoc20, library-update

#85 fixed code quality issues
  app/src/main/java/in/krharsh17/barview_sample/MainActivity.java
  app/src/main/res/layout/activity_main.xml
  app/src/test/java/in/krharsh17/barview_sample/ExampleUnitTest.java
  library/src/main/java/in/krharsh17/barview/Bar.java
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/java/in/krharsh17/barview/BarModel.java
  library/src/main/java/in/krharsh17/barview/BarView.java
  library/src/main/res/values/attrs.xml
  library/src/main/res/values/styles.xml
  library/src/test/java/in/krharsh17/barview/ExampleUnitTest.java
Labels: library-update, sample-update

#79 Allow passing an optional color hex, to generate random colors similar to it
  app/src/main/java/in/krharsh17/barview_sample/MainActivity.java
  library/src/main/java/in/krharsh17/barview/BarView.java
  library/src/main/res/values/attrs.xml
Labels: library-update, sample-update

#78 added highlight, fade and delete option
  library/src/main/java/in/krharsh17/barview/BarGroup.java
  library/src/main/res/layout/alert_dialogue.xml
  library/src/main/res/values/colors.xml
  library/src/main/res/values/strings.xml
Labels: library-update, medium, sample-update
